<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/components/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href="/components/fontawesome/css/font-awesome.css" />
    <link rel='stylesheet' href="/components/flat-ui/dist/css/flat-ui.css" />
    <link rel='stylesheet' href="/components/select2/dist/css/select2.min.css" />
    <link rel='stylesheet' href="/components/cal-heatmap/cal-heatmap.css" />
    <link rel='stylesheet' href="/components/morris.js/morris.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/d3/d3.min.js"></script>
    <script type="text/javascript" src="/components/flat-ui/dist/js/flat-ui.js"></script>
    <script type="text/javascript" src="/components/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/components/cal-heatmap/cal-heatmap.min.js"></script>
    <script type="text/javascript" src="/components/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="/components/morris.js/morris.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-embossed  navbar-fixed-top" role="navigation">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
          {{#if user}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.profile.login}}<b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/setup">Setup</a></li>
              </ul>
            </li>
          {{else}}
            <li class="active"><a href="/auth/github">Login</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container" style="margin-top: 10px;">
      <section>
        <div class="row">
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon hoki">
                <i class="fa fa-database"></i>
              </div>
              <div class="value">
                <h1>10</h1>
                <small>대상저장소</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon turquoise">
                <i class="fa fa-cloud-upload "></i>
              </div>
              <div class="value">
                <h1>240</h1>
                <small>커밋수</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon silver">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="value">
                <h1>20</h1>
                <small>연속커밋일</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon spray">
                <i class="fa fa-line-chart"></i>
              </div>
              <div class="value">
                <h1>1위</h1>
                <small>주간순위</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-sm-6">
            <div id="heatmap" class="col-sm-offset-3"></div>
          </div>
          <div class="col-sm-6">
            <div id="weekend_chart" style="background: #FFFFFF; margin-top: 20px;" class="col-sm-offset-3"></div>
          </div>
        </div>
      </section>
    </div>

    <!--<div class="container">-->
      <!--<h1>{{{page.title}}}</h1>-->
      <!--<hr/>-->
      <!--<section>-->
        <!--<div class="row">-->
          <!--{{{body}}}-->
        <!--</div>-->
      <!--</section>-->
    <!--</div>-->
  <script>
    var my_data = {
      "1338847200":40
      ,"1338933600":2.5
      ,"1339020000":0.9
      ,"1339106400":2.3
      ,"1339192800":0.5
      ,"1339279200":0.5
      ,"1339365600":2.8
      ,"1339452000":2.9
      ,"1339538400":1.9
      ,"1339624800":2.9
      ,"1339711200":3.6
      ,"1339797600":0.6
      ,"1339884000":0.4
      ,"1339970400":3.3
      ,"1340056800":2.8
      ,"1340143200":2.6
      ,"1340229600":2.6
      ,"1340316000":2.1
      ,"1340402400":0.5
      ,"1340488800":0.4
      ,"1340575200":2.7
      ,"1340661600":3
      ,"1340748000":2.7
      ,"1340834400":2.7
      ,"1340920800":2.6
      ,"1341007200":0.5
      ,"1341093600":0.5
      ,"1341180000":2.8
      ,"1341266400":2.4
      ,"1341352800":2.5
      ,"1341439200":2.4
      ,"1341525600":2.2
      ,"1341612000":0.5
      ,"1341698400":0.5
      ,"1341784800":2.4
      ,"1341871200":2.8
      ,"1341957600":2.7
      ,"1342044000":2.3
      ,"1342130400":2.1
      ,"1342216800":100
      ,"1342303200":96
      ,"1342389600":3.6
      ,"1342476000":3.2
      ,"1342562400":98
      ,"1342648800":3.3
      ,"1342735200":3.3
      ,"1342821600":0.6
      ,"1342908000":0.4
      ,"1342994400":43.5
      ,"1343080800":86.7
      ,"1343167200":85.6
      ,"1343253600":81
      ,"1343340000":81.6
      ,"1343426400":60.9
      ,"1343512800":58.1
      ,"1343599200":91.6
      ,"1343685600":82.6
      ,"1343772000":88.3
      ,"1343858400":75.9
      ,"1343944800":75.1
      ,"1344031200":40.5
      ,"1344117600":37.5
      ,"1344204000":null
      ,"1344290400":83.4
      ,"1344376800":82.1
      ,"1344463200":null
    };
    var cal = new CalHeatMap();
    cal.init({
      data: my_data,
      itemSelector: "#heatmap",
      domain: "month",
      subDomain: "day",
      start: new Date(2012, 5),
      cellSize: 20,
      cellPadding: 5,
      legend: [25, 75, 85, 95],

      range: 2,
      weekStartOnMonday: false
    });

    Morris.Line({
      element: 'weekend_chart',
      data: [
        { y: '2015-07-14', a: 5},
        { y: '2015-07-15', a: 3},
        { y: '2015-07-16', a: 4},
        { y: '2015-07-17', a: 2},
        { y: '2015-07-18', a: 7},
        { y: '2015-07-19', a: 8},
        { y: '2015-07-20', a: 1}
      ],
      xkey: 'y',
      ykeys: 'a'
    });
  </script>
  </body>
</html>
