<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href="/components/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet' href="/components/fontawesome/css/font-awesome.css" />
    <link rel='stylesheet' href="/components/flat-ui/dist/css/flat-ui.css" />
    <link rel='stylesheet' href="/components/select2/dist/css/select2.min.css" />
    <link rel='stylesheet' href="/components/cal-heatmap/cal-heatmap.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/d3/d3.min.js"></script>
    <script type="text/javascript" src="/components/flat-ui/dist/js/flat-ui.js"></script>
    <script type="text/javascript" src="/components/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/components/cal-heatmap/cal-heatmap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-embossed  navbar-fixed-top" role="navigation">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
          {{#if user}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.profile.login}}<b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/setup">Setup</a></li>
              </ul>
            </li>
          {{else}}
            <li class="active"><a href="/auth/github">Login</a></li>
          {{/if}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container" style="margin-top: 10px;">
      <section>
        <div class="row">
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon hoki">
                <i class="fa fa-database"></i>
              </div>
              <div class="value">
                <h1>10</h1>
                <small>대상저장소</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon turquoise">
                <i class="fa fa-cloud-upload "></i>
              </div>
              <div class="value">
                <h1>240</h1>
                <small>커밋수</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon silver">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="value">
                <h1>20</h1>
                <small>연속커밋일</small>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="status-card">
              <div class="icon spray">
                <i class="fa fa-line-chart"></i>
              </div>
              <div class="value">
                <h1>1위</h1>
                <small>주간순위</small>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!--<div class="container">-->
      <!--<h1>{{{page.title}}}</h1>-->
      <!--<hr/>-->
      <!--<section>-->
        <!--<div class="row">-->
          <!--{{{body}}}-->
        <!--</div>-->
      <!--</section>-->
    <!--</div>-->
  </body>
</html>
